body,#root,html {
  overflow-x: hidden;
  margin: 0; 
  width: 100%;

  background-color: rgb(255, 255, 255);
}
body{
  font-family: 'Abril Fatface', cursive; 
  
}


.pageHeaderHolder{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: rgb(223,223,244);
  background: linear-gradient(180deg, rgb(150, 216, 210) 0%, rgb(234, 215, 247) 43%, rgba(207, 60, 163, 0) 100%);
}
#pageLogo{
  max-width: 90%; 
  width:5in;
  margin-bottom: -0.5in;
  animation-name: cloudfloat;
  animation-iteration-count: infinite;
  animation-duration: 200s;
  animation-fill-mode: both;
  animation-timing-function:linear;
}
@keyframes cloudfloat {
  0%{
    transform: translate(-50px, 10px);
  }
  20%{
    transform: translate(00px, 50px);
  }
  40%{
    transform: translate(70px, -80px);
  }
  60%{
    transform: translate(00px, -40px);
  }
  80% {
    transform: translate(50px, 30px);
  }
  100%{
    transform: translate(-50px, 50px);
  }
  
}
#getitlogo{
  max-width: 2in;
  position:absolute;
  top: 20px;
  left: 2%;
  
}
.weatherCardPanel{
  justify-content: space-around;
}
/*
  searchWeatherElems
  */
input{
  border-color:black;
  color: black;
  font-family: 'Abril Fatface', cursive;
  height: 3rem;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: none;
  border-style: solid;
  padding: 5px;
  font-size: 1.2rem;
  min-width: 0px;
  flex: 3 1;
  width:min-content;
  background-color: rgba(255, 255, 255, 0);
}
input:focus-visible,input:focus, button:focus-visible{
  border-color:rgb(255, 51, 51);
  outline-color: rgb(19, 180, 255);
}
button{
  flex: 1 2; 
  height: 3.8rem;
  font-family: 'Abril Fatface', cursive;
  font-size: 1.2rem;
  border: solid 1px; 
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: transform 0.2s;
  background-color: rgba(233, 167, 233, 0); 
  display:inline;
  overflow-x: hidden;
  
}
button:hover{
  background-color: rgba(116, 54, 116, 0.767);
  color: rgb(253, 253, 253);
  transform: scale(1.1);
  cursor: pointer;
}
button:active{
  transform: scale(0.95);
  
}
.inputHolder{
  max-width: 5in;
  position: relative;
  left: 30px;
  display: flex;
  align-items: center; 
}



@media only screen and (max-width: 450px){
#getitlogo{  
  position: relative;
}
.pageHeaderHolder{
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
}
.weatherCardHolder{
  width: 90%;
  max-width: 90%;
}
.inputHolder{
  margin: 0 auto;
  left: 0;
}
}


