.weatherCardHolder{
    position:relative;
    border-style:solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-radius: 1em;
    padding:10px;
    background-color:#282c34;
    max-width:6in;
    min-width:5in;
    max-height: 50%;
    margin: 5px;
}

.topRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.temp{  
    margin:0;    
}
.temp::after{
    content: "°";
}

.weatherIcon{ 
    height: 3em; 
    filter: invert() brightness(60%);
}
